PORT=3001
ALERT_PROTOCOL=https
# Example: my.name@myaddress.org
MANAGER_EMAIL=__placeholder__
ALERT_API_HOST=api.resend.com
ALERT_API_PATH=/emails
# Your API key from Resend
ALERT_API_KEY=__placeholder__
# Example: QAI <qai@myaddress.org>
ALERT_FROM=__placeholder__
